{% extends "index.html" %}
{% load staticfiles %}

{% block menuprincipal %}
<div class="hor-menu ">
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="/empresa/vaga/list" class="iconify">
			<i class="icon-list"></i>
			Minhas Vagas </a>
		</li>
		<li>
			<a href="/empresa/vaga/new" class="iconify">
			<i class="icon-plus"></i>
			Nova Vaga </a>
		</li>

	</ul>
</div>
{% endblock %}

{% block page-title %}
	<h1>Lista de Candidatos <small>Altere o status dos candidatos que deseja selecionar.</small></h1>
{% endblock %}

{% block page-content %}
<div class="row">
	<div class="portlet light">
			<div class="portlet-title" style="min-width:50px;"> 
				<div class="caption">
					<i class="icon-list font-green-sharp"></i>
				</div>
				<div class="tools" >
					<a href="/empresa/vaga/new" style="min-height:33px;"  class="btn btn-success uppercase" title="Nova Vaga">Nova Vaga
					</a>

				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable table-scrollable-borderless">
					<table class="table table-hover table-light">
					<thead>
					<tr class="uppercase">
						<th>
							 NOME
						</th>
						<th>
							 FORMAÇÃO
						</th>
						<th>
							 ÁREA DE ATUAÇÃO
						</th>
						<th>
							 CIDADE
						</th>
						<th>
							 ESTADO
						</th>
						<th>
							 STATUS
						</th>
						<th>
							 OPÇÕES
						</th>
					</tr>
					</thead>
					<tbody>

					{% for candidato in candidatos %}
						<tr>

							<td>
								 {{candidato.candidato.usuario.nomeCompleto}}
							</td>
							<td>
								 {{candidato.candidato.formacao}}
							</td>
							<td>
								 {{candidato.candidato.areaAtuacao}}
							</td>

							<td>
								{{candidato.candidato.usuario.endereco.cidade}}
							</td>
							<td>
								{{candidato.candidato.usuario.endereco.estado}}
							</td>
							<td>
								{% if candidato.aprovado == False %}
									<span class="label  label-warning">
									Aguardando</span>

									{% else %}
											<span class="label  label-success">
									Aprovado</span>
								{% endif %}
							</td>
							<td>
								 <a href="/empresa/vaga/candidatos/changestatus/{{candidato.id}}" class="btn btn-success uppercase">
									<i class="fa fa-exchange"></i>
								 </a>
							</td>
						</tr>
					{% endfor %}


					</tbody>
					</table>
				</div>
			</div>
		</div>
					
	</div>

{% endblock %}
			