{% extends "index.html" %}
{% load staticfiles %}

{% block menuprincipal %}
<div class="hor-menu ">
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="/empresa/vaga/list" class="iconify">
			<i class="icon-list"></i>
			Minhas Vagas </a>
		</li>
		<li >
			<a href="/empresa/vaga/new" class="iconify">
			<i class="icon-plus"></i>
			Nova Vaga </a>
		</li>

	</ul>
</div>
{% endblock %}

{% block page-title %}
	<h1>Suas Vagas <small>Delete ou edite suas vagas.</small></h1>
{% endblock %}

{% block page-content %}
<div class="row">
	{% if statusEmpresa == False %}
	<div class="note note-danger">
		<h4 class="block">Empresa Desativada!!!</h4>
		<p> Sua empresa está desativada no momento. Aguarde até que o administrador ative-a, caso não ocorra em até 24h entre em contato.</p>
	</div>
	{% endif %}
	<div class="portlet light">
			<div class="portlet-title" style="min-width:50px;"> 
				<div class="caption">
					<i class="icon-list font-green-sharp"></i>
				</div>
				<div class="tools" >
					<a href="/empresa/vaga/new" style="min-height:33px;"  class="btn btn-success uppercase" title="Nova Vaga">Nova Vaga
					</a>

				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable table-scrollable-borderless">
					<table class="table table-hover table-light">
					<thead>
					<tr class="uppercase">
						<th>
							 OPÇÕES
						</th>
						<th>
							 FUNÇÃO
						</th>
						<th>
							 INÍCIO
						</th>
						<th>
							 FIM
						</th>
						<th>
							 SALÁRIO
						</th>
						<th>
							 CARGA HORÁRIA
						</th>
						<th>
							 CANDIDATOS
						</th>
						<th>
							 SITUAÇÃO
						</th>
					</tr>
					</thead>
					<tbody>

					{% for vaga in vagas %}
						<tr>
							<td>
								 <a href="/empresa/vaga/edit/{{vaga.id}}" class="btn btn-success uppercase">
									<i class="fa fa-pencil"></i>
								 </a>
								   <a href="/empresa/vaga/delete/{{vaga.id}}" class="btn btn-danger uppercase">
									<i class="fa fa-remove"></i>
								 </a>
								 {% if vaga.qntCandidatos > 0 %}
								  <a href="/empresa/vaga/candidatos/{{vaga.id}}" class="btn btn-warning uppercase">
									<i class="fa fa-users"></i>
								 </a>
								{% endif %}
							</td>
							<td>
								 {{vaga.funcao}}
							</td>
							<td>
								 {{vaga.dataAbertura|date:"d/m/y"}}
							</td>
							<td>
								 {{vaga.dataFechamento|date:"d/m/y"}}
							</td>
							<td>
								{{vaga.salario}}
							</td>
							<td>
								{{vaga.cargaHoraria}}
							</td>
							<td>
								<span class="bold theme-font">
									{{vaga.qntCandidatos}}
								</span>
							</td>
							<td>

								{% if vaga.is_past_due %}
								<span class="label label-sm label-danger">
								Finalizada</span>

								{% else %}
										<span class="label label-sm label-success">
								Iniciada</span>
								{% endif %}
							</td>
						</tr>
					{% endfor %}


					</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
			