{% extends "index.html" %}
{% load staticfiles %}

{% block menuprincipal %}
<div class="hor-menu ">
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="/empresa/vaga/list" class="iconify">
			<i class="icon-list"></i>
			Minhas Vagas </a>
		</li>
		<li >
			<a href="/empresa/vaga/new" class="iconify">
			<i class="icon-plus"></i>
			Nova Vaga </a>
		</li>
	</ul>
</div>
{% endblock %}

{% block page-title %}
	<h1>Lista de Candidatos <small>Altere o status dos candidatos que deseja selecionar.</small></h1>
{% endblock %}

{% block page-content %}

<div class="row">
	<form action="" method="POST" class="form-horizontal">
	{% csrf_token %} 
	<div class="form-body">

		{% for fieldVaga in formVaga %}
		<div class="form-group">
			<label class="col-md-3 control-label">{{fieldVaga.label}}</label>
			<div class="col-md-4">
				<div class="input-group" style="width:100%">
					{{fieldVaga}}
					<span>{{fieldVaga.errors}}</span>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="form-actions">
		<div class="row">
			<div class="col-md-offset-3 col-md-9">
				<button type="submit" class="btn green">Cadastrar</button>
				<button type="button" class="btn default">Cancelar</button>
			</div>
		</div>
	</div>
	</form>
</div>

{% endblock %}