{% extends "index.html" %}
{% load staticfiles %}

{% block menuprincipal %}
<div class="hor-menu ">
	<ul class="nav navbar-nav">
		<li >
			<a href="/candidato/vagas">Vagas</a>
		</li>
		<li class="active">
			<a href="/candidato/candidaturas">Candidaturas</a>
		</li>

	</ul>

</div>
{% endblock %}

{% block page-title %}
	<h1>Suas Vagas <small>Veja a situação ou cancele uma candidatura</small></h1>
{% endblock %}

{% block page-content %}

{% if message %}
<div class="alert alert-success" style="min-width:100%;">
<button class="close" data-close="alert"></button>
<span>
<b>Candidatura realizada com sucesso.</b>
Aguarde a resposta da empresa responsável. </span>
</div>
{% endif %}
<div class="row">
<div class="portlet-body">
		<div class="table-scrollable table-scrollable-borderless">
			<table class="table table-hover table-light">
			<thead>
			<tr class="uppercase">
				<th>
					 OPÇÕES
				</th>
				<th>
					 DATA DA CANDIDATURA
				</th>
				<th>
					 FUNÇÃO
				</th>
				<th>
					 SALÁRIO
				</th>
				<th>
					 CARGA HORÁRIA
				</th>
				<th>
					 SITUAÇÃO
				</th>
			</tr>
			</thead>
			<tbody>

			{% for vaga in vagatemcandidatos %}
				<tr>
					<td>
						   <a href="/candidato/candidaturas/delete/{{vaga.id}}" class="btn btn-danger uppercase">
							<i class="fa fa-remove"></i>
						 </a>
					</td>
					<td>
						 {{vaga.dataCandidatura|date:"d/m/y"}}
					</td>
					<td>
						 {{vaga.vaga.funcao}}
					</td>
					<td>
						{{vaga.vaga.salario}}
					</td>
					<td>
						{{vaga.vaga.cargaHoraria}}
					</td>
					<td>

						{% if vaga.aprovado == False %}
						<span class="label  label-warning">
						Aguardando</span>

						{% else %}
								<span class="label  label-success">
						Aprovado</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}


			</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
			

