{% extends "index.html" %}
{% load staticfiles %}

{% block menuprincipal %}
<div class="hor-menu ">
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="/candidato/vagas">Vagas</a>
		</li>
		<li>
			<a href="/candidato/candidaturas">Candidaturas</a>
		</li>

	</ul>

</div>
{% endblock %}

{% block page-title %}
	<h1>Vagas Disponíveis <small>Candidate-se as vagas que deseja.</small></h1>
{% endblock %}

{% block page-content %}
<div class="row">
	{% if  vagas.count > 0 %}
	<div class="col-md-12 col-white">
		<!-- BEGIN FILTER -->
		<div class="margin-top-10">
			<ul class="mix-filter">
				<li class="filter active" data-filter="all">
						 Todos
					</li>
				{% for funcao in funcoes %}
					<li class="filter active" data-filter="{{funcao.funcao.split|join:"_"}}">
						 {{funcao.funcao}}
					</li>
				{% endfor %}
			</ul>
			<div class="row mix-grid">

				{% for vaga in vagas %}

				<div class="col-md-3 col-sm-4 mix {{vaga.funcao.split|join:"_"}}">
					<div class="mix-inner">
						<img class="img-responsive" src="{{vaga.enderecoImagem}}" alt="">
						<div class="mix-details">
							<h4>{{vaga.funcao}}</h4>
							<a href="/candidato/candidatarse/{{vaga.id}}" class="mix-link" title="Candidatar-se">
							<i class="fa fa-pencil-square-o"></i>
							</a>
							<a class="mix-preview"  title="Ver + Detalhes">
							<i class="fa fa-eye"></i>
							</a>
						</div>
					</div>
				</div>

				{% endfor %}

			</div>
		</div>
		<!-- END FILTER -->
	</div>
	{%else%}
		<div class="col-md-12 col-white" style="min-height:75px;">
			<div class="margin-top-10">
				<h3>Não há vagas no momento!</h3>
			</div>
		</div>
	{%endif%}
</div>
{% endblock %}
			