{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>PDS | Vagas de Login</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
<link href="{% static "global/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "global/plugins/simple-line-icons/simple-line-icons.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "global/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "global/plugins/uniform/css/uniform.default.css" %}" rel="stylesheet" type="text/css">
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static "global/plugins/fancybox/source/jquery.fancybox.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "admin/pages/css/portfolio.css" %}" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="{% static "global/css/components-rounded.css" %}" id="style_components" rel="stylesheet" type="text/css">
<link href="{% static "global/css/plugins.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "admin/layout3/css/layout.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "admin/layout3/css/themes/default.css" %}" rel="stylesheet" type="text/css" id="style_color">
<link href="{% static "admin/layout3/css/custom.css" %}" rel="stylesheet" type="text/css">
<!-- END THEME STYLES -->
<style>
	.col-white {
		background-color: white;
	}	
</style>
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body>
<!-- BEGIN HEADER -->
<div class="page-header">
	<!-- BEGIN HEADER TOP -->
	<div class="page-header-top">
		<div class="container">
			<!-- BEGIN LOGO -->
			<div class="page-logo">
				<a href="index.html"><img style="margin-top:15px;" src="{% static "vagas-emprego-logo-preta.png" %}" alt="logo" class="logo-default"></a>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler"></a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					
					<li class="droddown dropdown-separator">
						<span class="separator"></span>
					</li>
					<!-- BEGIN INBOX DROPDOWN -->
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown dropdown-user dropdown-dark">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="img-circle" src="{% static "admin/layout3/img/avatar9.jpg" %}">
						<span class="username username-hide-mobile">{{user.username}}</span>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="extra_profile.html">
								<i class="icon-user"></i> Meu Perfil </a>
							</li>
							<li>
								<a href="inbox.html">
								<i class="icon-envelope-open"></i> Alterar Senha 
								</a>
							</li>
							<li>
								<a href="login.html">
								<i class="icon-key"></i> Sair </a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- END HEADER TOP -->
	<!-- BEGIN HEADER MENU -->
	<div class="page-header-menu">
		<div class="container">
			<!-- BEGIN MEGA MENU -->
			<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
			<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
			<div class="hor-menu ">
				<ul class="nav navbar-nav">
					<li>
						<a href="/candidato/vagas">Vagas</a>
					</li>
					<li>
						<a href="/candidato/candidaturas">Candidaturas</a>
					</li>
					
				</ul>
			</div>
			<!-- END MEGA MENU -->
		</div>
	</div>
	<!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
		<div class="container">
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">
				<h1>Vagas Disponíveis<small></small></h1>
			</div>
			<!-- END PAGE TITLE -->
			<!-- BEGIN PAGE TOOLBAR -->
			<div class="page-toolbar">
				<!-- BEGIN THEME PANEL -->
				<!-- END THEME PANEL -->
			</div>
			<!-- END PAGE TOOLBAR -->
		</div>
	</div>
	<!-- END PAGE HEAD -->
	<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			<!-- BEGIN PAGE CONTENT INNER -->
			
			<div class="row">
				{% if  vagas.count > 0 %}
				<div class="col-md-12 col-white">
					<!-- BEGIN FILTER -->
					<div class="margin-top-10">
						<ul class="mix-filter">
							<li class="filter active" data-filter="all">
									 Todos
								</li>
							{% for funcao in funcoes %}
								<li class="filter active" data-filter="{{funcao.funcao.split|join:"_"}}">
									 {{funcao.funcao}}
								</li>
							{% endfor %}
						</ul>
						<div class="row mix-grid">
						
							{% for vaga in vagas %}
							
							<div class="col-md-3 col-sm-4 mix {{vaga.funcao.split|join:"_"}}">
								<div class="mix-inner">
									<img class="img-responsive" src="{{vaga.enderecoImagem}}" alt="">
									<div class="mix-details">
										<h4>{{vaga.funcao}}</h4>
										<a href="/candidato/candidatarse/{{vaga.id}}" class="mix-link" title="Candidatar-se">
										<i class="fa fa-pencil-square-o"></i>
										</a>
										<a class="mix-preview"  title="Ver + Detalhes">
										<i class="fa fa-eye"></i>
										</a>
									</div>
								</div>
							</div>
							
							{% endfor %}
							
						</div>
					</div>
					<!-- END FILTER -->
				</div>
				{%else%}
					<div class="col-md-12 col-white" style="min-height:75px;">
						<div class="margin-top-10">
							<h3>Não há vagas no momento!</h3>
						</div>
					</div>
				{%endif%}
			</div>
			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<!-- BEGIN PRE-FOOTER -->
<div class="page-prefooter">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12 footer-block">
				<h2>Sobre</h2>
				<p>
					Atividade avaliativa referente à terceira unidade da disciplina de Processo de Desenvolvimento de Software, lecionada pela professora Alessandra.
				</p>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 footer-block">
				<h2>Receba Novidades</h2>
				<div class="subscribe-form">
					<form action="javascript:;">
						<div class="input-group">
							<input type="text" placeholder="seuemail@email.com" class="form-control">
							<span class="input-group-btn">
							<button class="btn" type="submit">Submit</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 footer-block">
				<h2>Siga-nos</h2>
				<ul class="social-icons">
					<li>
						<a href="javascript:;" data-original-title="rss" class="rss"></a>
					</li>
					<li>
						<a href="javascript:;" data-original-title="facebook" class="facebook"></a>
					</li>
					<li>
						<a href="javascript:;" data-original-title="twitter" class="twitter"></a>
					</li>
					<li>
						<a href="javascript:;" data-original-title="googleplus" class="googleplus"></a>
					</li>
					<li>
						<a href="javascript:;" data-original-title="linkedin" class="linkedin"></a>
					</li>
					<li>
						<a href="javascript:;" data-original-title="youtube" class="youtube"></a>
					</li>
					<li>
						<a href="javascript:;" data-original-title="vimeo" class="vimeo"></a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="container">
		 Tecnologia de Análise e Desenvolvimento de Sistemas - Vagas de Emprego
	</div>
</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="{% static "global/plugins/jquery.min.js" %}" type="text/javascript"></script>
<script src="{% static "global/plugins/jquery-migrate.min.js" %}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{% static "global/plugins/jquery-ui/jquery-ui.min.js" %}" type="text/javascript"></script>
<script src="{% static "global/plugins/bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script src="{% static "global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" %}" type="text/javascript"></script>
<script src="{% static "global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" %}" type="text/javascript"></script>
<script src="{% static "global/plugins/jquery.blockui.min.js" %}" type="text/javascript"></script>
<script src="{% static "global/plugins/jquery.cokie.min.js" %}" type="text/javascript"></script>
<script src="{% static "global/plugins/uniform/jquery.uniform.min.js" %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{% static "global/plugins/jquery-mixitup/jquery.mixitup.min.js" %}"></script>
<script type="text/javascript" src="{% static "global/plugins/fancybox/source/jquery.fancybox.pack.js" %}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="{% static "global/scripts/metronic.js" %}" type="text/javascript"></script>
<script src="{% static "admin/layout3/scripts/layout.js" %}" type="text/javascript"></script>
<script src="{% static "admin/layout3/scripts/demo.js" %}" type="text/javascript"></script>
<script src="{% static "admin/pages/scripts/portfolio.js" %}"></script>
<script>
      jQuery(document).ready(function() {    
         Metronic.init(); // init metronic core components
		 Layout.init(); // init current layout
		 Demo.init(); // init demo features
		 Portfolio.init();
      });
   </script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>