{% extends "index.html" %}
{% load staticfiles %}

{% block menuprincipal %}
<div class="hor-menu ">
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="/adminsitracao">Empresas</a>
		</li>
	</ul>

</div>
{% endblock %}

{% block page-title %}
	<h1>Adminstração <small>Ative ou desative as empresas</small></h1>
{% endblock %}

{% block page-content %}

<div class="row">
	<div class="portlet light">
			<div class="portlet-title" style="min-width:50px;"> 
				<div class="caption">
					<i class="icon-list font-green-sharp"></i>
				</div>
				<div class="tools" >
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable table-scrollable-borderless">
					<table class="table table-hover table-light">
					<thead>
					<tr class="uppercase">
						<th>
							 NOME
						</th>
						<th>
							 DIA DO CADASTRO
						</th>
						<th>
							 HORA DO CADASTRO
						</th>
						<th>
							 CIDADE
						</th>
						<th>
							 ESTADO
						</th>
						<th>
							 STATUS
						</th>
						<th>
							 OPÇÕES
						</th>
					</tr>
					</thead>
					<tbody>

					{% for empresa in empresas %}
						<tr>

							<td>
								 {{empresa.usuario.nomeCompleto|upper}}
							</td>
							<td>
								 {{empresa.usuario.user.date_joined|date:'d-m-Y' }}
							</td>
							<td>
								 {{empresa.usuario.user.date_joined|date:'H:i' }}
							</td>

							<td>
								{{empresa.usuario.endereco.cidade }}
							</td>
							<td>
								{{empresa.usuario.endereco.estado }}
							</td>
							<td>
								{% if empresa.status == False %}
									<span class="label  label-danger">
									Desativada</span>

									{% else %}
											<span class="label  label-success">
									Ativada</span>
								{% endif %}
							</td>
							<td>
								 <a href="/administracao/changestatusempresa/{{empresa.id}}" class="btn btn-success uppercase">
									<i class="fa fa-exchange"></i>
								 </a>
							</td>
						</tr>
					{% endfor %}


					</tbody>
					</table>
				</div>
			</div>
		</div>
					
	</div>
{% endblock %}
			

